pipeline/STG_ESTADO_POSTULANTE_DELETE.json
{
	"name": "STG_ESTADO_POSTULANTE_DELETE",
	"properties": {
		"activities": [
			{
				"name": "Borrar STG",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "UCSH_borrame",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "DELETE [dbo].[QA_STG_ESTADO_POSTULANTE];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Cargar STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Borrar STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "InformixSource",
						"query": {
							"value": "select\ncase\n\twhen codi_codi is null then 0\n\telse row_number() over (order by codi_codi)\nend as ESTADO_POSTULANTE_SK,\ntrim(codi_codi) as CODIGO_ESTADO_POSTULANTE,\ntrim(codi_desc) as ESTADO_POSTULANTE,\nCURRENT as FECHA_CREACION,\nCURRENT as FECHA_ACTUALIZACION,\n'ADCODI' as ORIGEN,\n@{pipeline().parameters.ETL_ID} as ETL_ID\nfrom informix.adcodi\nwhere codi_id = 'sele_esta';",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"validateDataConsistency": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "estado_postulante_sk",
									"type": "String"
								},
								"sink": {
									"name": "ESTADO_POSTULANTE_SK",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "codigo_estado_postulante",
									"type": "String"
								},
								"sink": {
									"name": "CODIGO_ESTADO_POSTULANTE",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "estado_postulante",
									"type": "String"
								},
								"sink": {
									"name": "ESTADO_POSTULANTE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "fecha_creacion",
									"type": "DateTime"
								},
								"sink": {
									"name": "FECHA_CREACION",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "fecha_actualizacion",
									"type": "DateTime"
								},
								"sink": {
									"name": "FECHA_ACTUALIZACION",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "origen",
									"type": "String"
								},
								"sink": {
									"name": "ORIGEN",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "etl_id",
									"type": "Int32"
								},
								"sink": {
									"name": "ETL_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InformixTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "QA_STG_ESTADO_POSTULANTE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Retorno de pipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Cargar STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "INSERTADOS",
							"value": {
								"type": "Expression",
								"content": "@activity('Cargar STG').output.rowsRead"
							}
						},
						{
							"key": "ACTUALIZADOS",
							"value": {
								"type": "Expression",
								"content": "@activity('Cargar STG').output.rowsCopied"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"ETL_ID": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-03T05:41:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}