UCSHBorrame/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "UCSHBorrame"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"UCSH_borrame_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'UCSH_borrame'"
		},
		"Informix1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Informix1'"
		},
		"Informix1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Informix1'"
		},
		"Informix1_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'Informix1'"
		},
		"Informix1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "informix"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UCSH_borrame')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('UCSH_borrame_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/COPY_STG_ESTADO_POSTULANTE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "dim_estado_postulante.csv",
						"folderPath": "estado_postulante",
						"container": "storage-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Informix1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Informix",
				"typeProperties": {
					"connectionString": "[parameters('Informix1_connectionString')]",
					"authenticationType": "Basic",
					"userName": "[parameters('Informix1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Informix1_password')]"
					},
					"credential": {
						"type": "SecureString",
						"value": "[parameters('Informix1_credential')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOAD_STG_ESTADO_POSTULANTE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "UCSH_borrame",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "window1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     ETL_ID as integer (1)",
						"}",
						"source(output(",
						"          CODIGO_ESTADO_POSTULANTE as string,",
						"          ESTADO_POSTULANTE as string,",
						"          ORIGEN as string",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'delimited',",
						"     container: 'storage-data',",
						"     folderPath: 'estado_postulante',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> source1",
						"source1 derive(ESTADO_POSTULANTE_SK = 1,",
						"          FECHA_CREACION = currentTimestamp(),",
						"          {FECHA_MODIFICACIÓN} = currentTimestamp(),",
						"          ETL_ID = $ETL_ID) ~> derivedColumn1",
						"derivedColumn1 window(asc(CODIGO_ESTADO_POSTULANTE, true),",
						"     ESTADO_POSTULANTE_SK = rowNumber()) ~> window1",
						"window1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ESTADO_POSTULANTE_SK as integer,",
						"          CODIGO_ESTADO_POSTULANTE as string,",
						"          ESTADO_POSTULANTE as string,",
						"          CRC as integer,",
						"          FECHA_CREACION as timestamp,",
						"          FECHA_ACTUALIZACION as timestamp,",
						"          ORIGEN as string,",
						"          ETL_ID as integer",
						"     ),",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'QA_STG_ESTADO_POSTULANTE',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ESTADO_POSTULANTE_SK,",
						"          CODIGO_ESTADO_POSTULANTE,",
						"          ESTADO_POSTULANTE,",
						"          FECHA_CREACION,",
						"          FECHA_ACTUALIZACION = {FECHA_MODIFICACIÓN},",
						"          ORIGEN,",
						"          ETL_ID",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/linkedServices/UCSH_borrame')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfcdc1')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "storage-data/estado_postulante",
								"properties": {
									"schema": [
										{
											"name": "codigo_estado_postulante",
											"dataType": "string"
										},
										{
											"name": "estado_postulante",
											"dataType": "string"
										},
										{
											"name": "origen",
											"dataType": "string"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "storage-data"
										},
										{
											"name": "fileSystem",
											"value": "storage-data"
										},
										{
											"name": "folderPath",
											"value": "estado_postulante"
										},
										{
											"name": "allowSchemaDrift",
											"value": false
										},
										{
											"name": "inferDriftedColumnTypes",
											"value": false
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobStorage",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "delimited"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								},
								{
									"name": "columnNamesAsHeader",
									"value": true
								},
								{
									"name": "columnDelimiter",
									"value": ","
								},
								{
									"name": "quoteChar",
									"value": "\\\""
								},
								{
									"name": "escapeChar",
									"value": "\\\\"
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "dbo.QA_STG_ESTADO_POSTULANTE",
								"properties": {
									"schema": [
										{
											"name": "ESTADO_POSTULANTE_SK",
											"dataType": "integer"
										},
										{
											"name": "CODIGO_ESTADO_POSTULANTE",
											"dataType": "string"
										},
										{
											"name": "ESTADO_POSTULANTE",
											"dataType": "string"
										},
										{
											"name": "CRC",
											"dataType": "integer"
										},
										{
											"name": "FECHA_CREACION",
											"dataType": "timestamp"
										},
										{
											"name": "FECHA_ACTUALIZACION",
											"dataType": "timestamp"
										},
										{
											"name": "ORIGEN",
											"dataType": "string"
										},
										{
											"name": "ETL_ID",
											"dataType": "integer"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "schemaName",
											"value": "dbo"
										},
										{
											"name": "tableName",
											"value": "QA_STG_ESTADO_POSTULANTE"
										},
										{
											"name": "deletable",
											"value": true
										},
										{
											"name": "updateable",
											"value": true
										},
										{
											"name": "upsertable",
											"value": true
										},
										{
											"name": "defaultToUpsert",
											"value": true
										},
										{
											"name": "allowSchemaDrift",
											"value": false
										},
										{
											"name": "inferDriftedColumnTypes",
											"value": false
										},
										{
											"name": "keys",
											"value": [
												"CODIGO_ESTADO_POSTULANTE"
											]
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "UCSH_borrame",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureSqlDatabase",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "table"
								},
								{
									"name": "store",
									"value": "sqlserver"
								},
								{
									"name": "databaseType",
									"value": "databaseType"
								},
								{
									"name": "database",
									"value": "database"
								},
								{
									"name": "deletable",
									"value": false
								},
								{
									"name": "insertable",
									"value": true
								},
								{
									"name": "updateable",
									"value": false
								},
								{
									"name": "upsertable",
									"value": false
								},
								{
									"name": "skipDuplicateMapInputs",
									"value": true
								},
								{
									"name": "skipDuplicateMapOutputs",
									"value": true
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "dbo.QA_STG_ESTADO_POSTULANTE",
								"sourceEntityName": "storage-data/estado_postulante",
								"sourceConnectionReference": {
									"connectionName": "AzureBlobStorage1",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": [
										{
											"name": "CODIGO_ESTADO_POSTULANTE",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "codigo_estado_postulante",
												"entity": "storage-data/estado_postulante",
												"entityConnectionReference": {
													"connectionName": "AzureBlobStorage1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "ESTADO_POSTULANTE",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "estado_postulante",
												"entity": "storage-data/estado_postulante",
												"entityConnectionReference": {
													"connectionName": "AzureBlobStorage1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "ORIGEN",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "origen",
												"entity": "storage-data/estado_postulante",
												"entityConnectionReference": {
													"connectionName": "AzureBlobStorage1",
													"type": "linkedservicetype"
												}
											}
										}
									]
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"status": "Stopped",
				"allowVNetOverride": false
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
				"[concat(variables('factoryId'), '/linkedServices/UCSH_borrame')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InformixTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Informix1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "InformixTable",
				"schema": [],
				"typeProperties": {
					"tableName": "informix.adcodi"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Informix1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_ESTADO_POSTULANTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy a CSV",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "InformixSource",
								"query": "select\ncodi_codi as CODIGO_ESTADO_POSTULANTE,\ncodi_desc as ESTADO_POSTULANTE,\n'ADCODI' as ORIGEN\nfrom informix.adcodi\nwhere codi_id = 'sele_esta';"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "codigo_estado_postulante",
											"type": "String"
										},
										"sink": {
											"name": "codigo_estado_postulante",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "estado_postulante",
											"type": "String"
										},
										"sink": {
											"name": "estado_postulante",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "origen",
											"type": "String"
										},
										"sink": {
											"name": "origen",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InformixTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "COPY_STG_ESTADO_POSTULANTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ADD STG AZURE SQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy a CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "LOAD_STG_ESTADO_POSTULANTE",
								"type": "DataFlowReference",
								"parameters": {
									"ETL_ID": {
										"value": "@int(pipeline().parameters.ETL_ID)",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "7b44771e-d23f-4f67-878a-49c4709dda7c"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ADD STG AZURE SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "INSERTADOS",
									"value": {
										"type": "Expression",
										"content": "@activity('ADD STG AZURE SQL').output.runStatus.metrics.sink1.rowsWritten"
									}
								},
								{
									"key": "ACTUALIZADOS",
									"value": {
										"type": "Expression",
										"content": "@activity('ADD STG AZURE SQL').output.runStatus.metrics.sink1.rowsWritten"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ETL_ID": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InformixTable1')]",
				"[concat(variables('factoryId'), '/datasets/COPY_STG_ESTADO_POSTULANTE')]",
				"[concat(variables('factoryId'), '/dataflows/LOAD_STG_ESTADO_POSTULANTE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LOG_REGISTRO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inicio de LOG",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "UCSH_borrame",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "INSERT INTO LOG_PROCESO_ETL (AMBIENTE, ESTADO, FECHA_INICIO_EJEC, PROCESO, TAREA, TIPO_CARGA, TIPO_PROCESO) VALUES\n(\n    '@{pipeline().globalParameters.Environment}',\n    'En Ejecucion',\n    GETDATE(),\n    '@{pipeline().Pipeline}',\n    '@{pipeline().TriggerName}',\n    '@{pipeline().parameters.ETL_CARGA}',\n    '@{pipeline().parameters.ETL_TIPO_PROCESO}'\n)",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Obtener ID",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Inicio de LOG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "UCSH_borrame",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "SELECT TOP 1 [ETL_ID] FROM [dbo].[LOG_PROCESO_ETL] ORDER BY FECHA_INICIO_EJEC DESC;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Guardar ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Obtener ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ETL_ID",
							"value": {
								"value": "@string(activity('Obtener ID').output.resultSets[0].rows[0].ETL_ID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Fecha de Inicio",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ETL_FECHA",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Fecha de Inicio",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Guardar ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "STG_ESTADO_POSTULANTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ETL_ID": {
									"value": "@variables('ETL_ID')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Duracion",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ETL_DURACION",
							"value": {
								"value": "@string(div(sub(ticks(utcNow()),ticks(variables('ETL_FECHA'))),10000000))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Terminar LOG",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Duracion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "UCSH_borrame",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "UPDATE [dbo].[LOG_PROCESO_ETL]\nSET\n    [FECHA_TERMINO_EJEC] = GETDATE(),\n    [DURACION] = @{variables('ETL_DURACION')},\n    [ESTADO] = 'Terminado',\n    [CANTIDAD_INSERTADOS] = 10,\n    [CANTIDAD_ACTUALIZADOS] = 10,\n    [TAREA] = '@{pipeline().TriggerName}'\nWHERE\n[ETL_ID] = @{variables('ETL_ID')}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ETL_TIPO_PROCESO": {
						"type": "string",
						"defaultValue": "CARGA"
					},
					"ETL_CARGA": {
						"type": "string"
					}
				},
				"variables": {
					"ETL_ID": {
						"type": "String"
					},
					"ETL_FECHA": {
						"type": "String"
					},
					"ETL_DURACION": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/UCSH_borrame')]",
				"[concat(variables('factoryId'), '/pipelines/STG_ESTADO_POSTULANTE')]"
			]
		}
	]
}